body{
	background-color:#41B3A3;
}
h1{
	text-align:center;
	margin-top:5%;
	font-size:90px;
	font-family: 'Orbitron', sans-serif;
	color:black;
}
#outerdiv{
	background-color:white;
	width: 50%;
	margin:auto;
	height:auto;
	
}
.common{
	position:relative;
	height:27%;
	width:11%;
	float:left;
}

#hh{
	background-color:white;
	margin-left:30%;
	
}
#mm{
	background-color:white;
	margin-left:4%;
}
#ss{
	background-color:#e43e6f;
	float:left;
	margin-left:4%;
}
span{
	position:relative;
	padding:15% 11%;
	display:block;
	font-size:80px;
	font-family: 'Orbitron', sans-serif;
	color:black;
}
p{
	text-align:center;
	font-size:20px;
}
.des{
	background-color:black;
	color:white;
	height:30%;
}

